{% extends 'base.html.twig' %}

{% block title %}Url Shortener Application{% endblock %}

{% block body %}
    <div class="row g-3" style="margin-top: 100px">
        {{ form_start(form, { 'method': 'POST', 'action': path('add_new') ,'attr': {'class': 'd-flex'}}) }}
            {{ form_widget(form.url) }}
            {{ form_widget(form.button) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
